<div id="login-dialog" class="overflow-hidden"
     [@login-register]="this.state.activePaneSubject.value">
  <h1 mat-dialog-title class="mb-2"
      [ngClass]="{'bold': this.state.activePaneSubject.value==='login'}">Sign In</h1>
  <h1 mat-dialog-title class="header-2"
      [ngClass]="{'bold': this.state.activePaneSubject.value==='register'|| this.state.activePaneSubject.value==='registered'}">
    Sign Up</h1>

  <div class="collapse"
       [ngClass]="{ 'd-flex justify-content-center visible': this.state.activePaneSubject.value ==='logged-in'}">
    <img class="w-50 h-50" alt="logo" src="../../../assets/images/check-circle.gif"/>
  </div>

  <div mat-dialog-content
       class="text-center position-relative"
       [ngStyle]="{'visibility': this.state.activePaneSubject.value ==='logged-in'? 'hidden':'visible'}">

    <form [formGroup]="state.loginForm" (ngSubmit)="onLoginSubmit()" autocomplete="on" novalidate>

      <div class="overflow-hidden ml-pss-container" [@move]="this.state.activePaneSubject.value">
        <!--email-->
        <custom-input class="d-block"
                      type="email"
                      label="Email"
                      icon="account_circle"
                      [errorMsg]="emailError"
                      placeholder="Ex. peter@gmail.com"
                      [tabIndex]="state.login.index"
                      formControlName="email"
                      (focus)="onFocus()"
                      [@registered]="{value: this.state.activePaneSubject.value, params: {top:300}}">
        </custom-input>

        <!--password-->
        <custom-input class="d-block"
                      controlType="password"
                      label="Password"
                      icon="visibility"
                      [errorMsg]="passwordErrors"
                      placeholder="Ex. Pa$$word!195"
                      [hintVisible]="this.state.activePaneSubject.value =='register'"
                      [tabIndex]="state.login.index"
                      formControlName="password"
                      (focus)="onFocus()"
                      [@registered]="{value: this.state.activePaneSubject.value, params: {top:300}}">
        </custom-input>

        <!--confirm password-->
        <custom-input class="d-block"
                      controlType="password"
                      label="Verify Password"
                      icon="visibility"
                      [errorMsg]="confirmPasswordErrors"
                      placeholder="matching"
                      [hintVisible]="this.state.activePaneSubject.value==='register' && state.loginControls.confirmPassword.valid"
                      [errorVisible]="this.state.activePaneSubject.value==='register'"
                      [tabIndex]="state.register.index"
                      formControlName="confirmPassword"
                      (input)="onFocus()"
                      [@registered]="{value: this.state.activePaneSubject.value, params: {top:300}}">
        </custom-input>

        <div class="acc-created-container"
             [@registered]="{value: this.state.activePaneSubject.value, params: {top:120}}">
          <h2>Account Created!</h2>
          <h4>Please check your mailbox for an activation link.</h4>
          <img class="circle" alt="logo" src="../../../assets/images/check-circle.gif"/>
        </div>

      </div>

      <!--forgot password button -->
      <div class="forgot-pss-btn-container">
        <button mat-button [ngStyle]="{'visibility': resetButtonVisible ? 'visible':'collapse'}"
                type="button"
                id="forgot-password"
                (click)="loginRegisterScreen('reset')"
                tabIndex="-1"
                [disableRipple]="true">
          forgot password ?
        </button>
      </div>


      <!--main action button-->
      <loading-button
          class="main-btn-container d-block"
          color="primary"
          type="submit"
          [tabIndex]="state.login.index"
          [loading]="(loading$ | async).login "
          [disabled]="state.loginForm.invalid || (loading$ | async).login">
        {{state.mainButton}}
      </loading-button>


      <div class="sign-in-up-container" [@moveText]="this.state.activePaneSubject.value">

        <div>{{state.help}}</div>

        <!--switch screen button -->
        <button mat-button
                class="p-1"
                type="button"
                id="register"
                [disableRipple]="true"
                (click)="loginRegisterScreen()"
                tabindex="-1">
          {{state.secondButton}}
        </button>
      </div>

    </form>
  </div>
</div>
