.logo-bar {
  background-color: whitesmoke ;
  padding: 0 0.5rem;
  margin: 0;
  height: 4.5rem;
  opacity: 0.97;
  position: fixed; // sticky only for parent element
  top: 0
}

;

img {
  margin-left: 20px;
}

:host::ng-deep button {
  //font-family: "JetBrains Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;



  &:hover:enabled {
    span {
      color: #818681;
      transition: color 0.5s ease;
    }
  }


  :host ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }

}

#test {
  ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }

}




.vertical-line{
  border-left: 1px solid #616861;
  height: 21px;
  margin: 0 10px;
}
