div{
  background-color: rgb(48,49,50);
  padding-left: 10px;
  padding-top:7px;
  margin: -8px -8px 0 -8px;
};

img{
margin-left: 20px;
}

span{
  text-align: center;
  margin-top: -40px;
  margin-right: 20px;
  float: right;
  font-family: "Pacifico", sans-serif;
  font-size: 19px;
}
