.fixed-bg {
  background-image: url('src/assets/background/sigmund-rMW9us4NCzU-unsplash.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

