<body style="padding-top: 100px;z-index: -4" class="d-flex justify-content-center  align-items-center flex-wrap">





  <mat-card class="card" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" style="margin: 50px">
    <img mat-card-image
         src="../../assets/people/person_1/card_1.webp"
         style="height: 180px; object-fit: cover"
         alt="team member">

    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title>Larissa Daschkewitsch</mat-card-title>
      <mat-card-subtitle>Musiklehrerin</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</body>
