<mat-form-field appearance="standard"
                style="text-align: center; width: 215px"
                (mouseover)="hover=true"
                (mouseout)="hover=false"
                (focus)="focus=true"
                (focusout)="focus=false">

    <mat-label>{{label}}</mat-label>


    <mat-hint *ngIf="(focus || hover) && this.hintVisible"
              [@hintDrop]>Ex. Pa$$word!195</mat-hint>

    <mat-error *ngIf="this.hintVisible && !focus"
               style="text-align: left;">to simple</mat-error>

    <button mat-icon-button matSuffix
            (click)="hidden = !hidden"
            [attr.aria-label]="'Hide password'"
            [disableRipple]="true">

<!--         should depend on input -->
        <mat-icon matSuffix>{{hidden ? 'visibility_off' : 'visibility'}}</mat-icon>

    </button>



    <input matInput
           [type]="hidden ? type : 'text'"
           (blur)="onTouched()"
           (input)="onChange($event.target.value)"
           [disabled]="disabled" >

</mat-form-field>




[type]="type"
#input
(input)="onChange($event.target.value)"
(blur)="onTouched()"
[disabled]="disabled"
[placeholder]="placeholder"
