<mat-form-field appearance="standard" style="text-align: center; width: 215px">

    <mat-label>{{label}}</mat-label>
    <mat-hint  [@hintDrop] *ngIf="(focused || hover) && hintVisible">{{placeholder}}</mat-hint>
    <mat-error *ngIf="(control.touched && control.invalid && errorVisible && !focused) ||( errorState && !focused)" style="text-align: left;">{{errorMsg}}</mat-error>

    <input matInput
           [tabIndex]="tabIndex"
           [(ngModel)]="value"
           [errorStateMatcher]="errorMatcher"
           (input)="onChange($event.target.value);"
           [type]="controlType"
           [disabled]="disabled"
           (blur)="onTouched()">


    <button mat-icon-button
            matSuffix
            type="button"
            [tabIndex]="-1"
            (click)="click($event)"
            [attr.aria-label]="'Hide'"
            [disableRipple]="true">
        <mat-icon matSuffix>{{hidden ? icon + "_off" : icon}}</mat-icon>
    </button>
</mat-form-field>
