span {
    opacity: 0;
    transition: opacity 200ms;
}
:host.floating span {
    opacity: 1;
}



/*chrome remove blue autocomplete background color*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



.mat-icon-button{
    width: 24px !important;
    height: 24px !important;
}
