<mat-form-field appearance="standard" style="text-align: center; width: 215px">

    <mat-label>{{label}}</mat-label>
    <mat-hint *ngIf="(focused || hover) && this.hintVisible" [@hintDrop]>{{placeholder}}</mat-hint>
    <mat-error *ngIf="control.touched && control.invalid" style="text-align: left;">{{errorMsg}}</mat-error>

    <input matInput
           [(ngModel)]="value"
           [errorStateMatcher]="errorMatcher"
           (input)="onChange($event.target.value);"
           [type]="hidden ? controlType : 'text'"
           [disabled]="disabled"
           (blur)="onTouched()">


    <button mat-icon-button
            matSuffix
            (click)="click($event)"
            [attr.aria-label]="'Hide'"
            [disableRipple]="true">
        <mat-icon matSuffix>{{icon}}</mat-icon>
    </button>
</mat-form-field>
