<ng-container [formGroup]="form">

    <mat-form-field appearance="outline" style="width:30px;margin-right: 20px;margin-left: 20px">
        <input matInput id="0"
               [placeholder]="index==0?cursor:'_'"
               [formControl]="$any(form).controls[0]"
               [tabIndex]="1"
               (focus)="index=0"
               (blur)="index=-1"
               maxlength="1"
               type="text"
        ></mat-form-field>
    <mat-form-field appearance="outline" style="width:30px;margin-right: 20px">
        <input matInput id="1"
               [placeholder]="index==1?cursor:'_'"
               [formControl]="$any(form).controls[1]"
               [tabIndex]="2"
               (focus)="index=1"
               (blur)="index=-1"
               maxlength="1"
               type="text"
        ></mat-form-field>
    <mat-form-field appearance="outline" style="width:30px;margin-right: 20px">
        <input matInput id="2"
               [formControl]="$any(form).controls[2]"
               [tabIndex]="3"
               [placeholder]="index==2?cursor:'_'"
               (focus)="index=2"
               (blur)="index=-1"
               maxlength="1"
               type="text"
        ></mat-form-field>
    <mat-form-field appearance="outline" style="width:30px;margin-right: 20px">
        <input matInput id="3"
               [tabIndex]="4"
               [placeholder]="index==3?cursor:'_'"
               [formControl]="$any(form).controls[3]"
               (focus)="index=3"
               (blur)="index=-1"
               maxlength="1"
               type="text"
        ></mat-form-field>
</ng-container>
