/* You can add global styles to this file, and also import other style files */

*{ // removing individual browser stuff
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.button{
  border-radius: 3px;
}

.bold{
  font-weight: bold;
}

