
.button-container {
    display: inline-block;
    position: relative;
}

button {
    border-radius: 10px;
    width: 210px;
    height: 35px
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide-text{

}
