<div class="panes" [@slide]="STATE.activePane">

<!-- screen 1-->
    <div class="first-screen">
        <h1 mat-dialog-title style="margin-bottom: 11px" [ngClass]="{'bold': STATE.activePane==='login'}" >Sign In</h1>
        <h1 mat-dialog-title style="margin-bottom: 90px" [ngClass]="{'bold': STATE.activePane==='register'|| STATE.activePane==='registered'}">Sign Up</h1>

        <div class="collapse" [ngClass]="{ 'd-flex justify-content-center visible': STATE.activePane ==='logged-in'}">
            <img class="w-50 h-50" alt="logo" src="../../assets/images/check-circle.gif"/>
        </div>

        <div mat-dialog-content
             class="text-center position-relative overflow-hidden"
             [ngStyle]="{'visibility': STATE.activePane ==='logged-in'? 'hidden':'visible'}">

            <form [formGroup]="STATE.loginForm" (ngSubmit)="onLoginSubmit()" autocomplete="on" novalidate>


                <div class="overflow-hidden" style="height: 149px;" [@move]="STATE.activePane">
                    <!--email-->
                    <custom-input class="d-block"
                                  type="email"
                                  label="Email"
                                  icon="account_circle"
                                  [errorMsg]="message"
                                  placeholder="Ex. peter@gmail.com"
                                  [required]="true"
                                  [tabIndex]="STATE.login.index"
                                  [errorState]="message==null"
                                  formControlName="email"
                                  (input)="onInput()"
                                  [@registered]="{value: STATE.activePane, params: {top:300}}">
                    </custom-input>

                    <!--password-->
                    <custom-input class="d-block"
                                  controlType="password"
                                  label="Password"
                                  icon="visibility"
                                  errorMsg="to simple"
                                  placeholder="Ex. Pa$$word!195"
                                  [hintVisible]="STATE.activePane =='register'"
                                  [errorVisible]="STATE.activePane === 'register'"
                                  [required]="true"
                                  [tabIndex]="STATE.login.index"
                                  formControlName="password"
                                  (input)="onInput()"
                                  [@registered]="{value: STATE.activePane, params: {top:300}}">
                    </custom-input>

                    <!--confirm password-->
                    <custom-input class="d-block"
                                  controlType="password"
                                  label="Verify Password"
                                  icon="visibility"
                                  errorMsg="not matching"
                                  placeholder="matching"
                                  [hintVisible]="STATE.activePane==='register' && STATE.loginControls.confirmPassword.valid"
                                  [errorVisible]="STATE.activePane==='register'"
                                  [required]="true"
                                  [tabIndex]="STATE.register.index"
                                  formControlName="confirmPassword"
                                  (input)="onInput()"
                                  [@registered]="{value: STATE.activePane, params: {top:300}}">
                    </custom-input>

                    <div style="margin-top: 12px" [@registered]="{value: STATE.activePane, params: {top:120}}">

                        <h2>Account Created!</h2>
                        <h4>Please check your mailbox for an activation link.</h4>

                        <img class="circle" alt="logo" src="../../assets/images/check-circle.gif"/>

                    </div>

                </div>

                <div style="text-align: right; margin-right: 40px; margin-top: -22px;">

                    <!--forgot password button -->
                    <button mat-button [ngStyle]="{'visibility': STATE.activePane === 'registered' ? 'collapse' : 'visible'}"
                            type="button"
                            id="smallButton"
                            class="no-hover-effect"
                            (click)="loginRegisterScreen('reset')"
                            tabIndex="-1"
                            [disableRipple]="true">
                        forgot password ?
                    </button>
                </div>

                <div style="margin: 22px 30px 15px 30px;">

                    <!--main action button-->
                    <loading-button
                            color="primary"
                            type="submit"
                            [tabIndex]="STATE.login.index"
                            [loading]="(loading$ | async).login "
                            [disabled]="STATE.loginForm.invalid || (loading$ | async).login">
                        {{STATE.mainButton}}
                    </loading-button>
                </div>

                <div style="margin: 5px 30px 10px 30px;" [@moveText]="STATE.activePane">

                    <div>{{STATE.help}}</div>

                    <!--switch screen button -->
                    <button mat-button
                            type="button"
                            class="no-hover-effect register"
                            [disableRipple]="true"
                            (click)="loginRegisterScreen()"
                            tabindex="-1">
                        {{STATE.secondButton}}
                    </button>
                </div>

            </form>
        </div>
    </div>

 <!--screen 2-->
    <div>
        <h1 mat-dialog-title style="margin-bottom: 11px; font-weight: bold">Reset</h1>
        <h1 mat-dialog-title style="margin-bottom: 90px; font-weight: bold">Password</h1>

        <div mat-dialog-content class="text-center position-relative">


            <form [formGroup]="STATE.resetForm" autocomplete="on">

                <!--email & verification code-->
                <div  class="overflow-hidden" style="height: 80px;" [@moveResetDigits]="{value: STATE.activePane, params: {top: ANIMATION_PARAMETER}}">

                <!--reset email-->
                    <div [@showPassword]="{value: STATE.activePane, params: {top: 120,done:300}}">
                        <custom-input type="email"
                                      label="Reset Email"
                                      icon="account_circle"
                                      errorMsg="not a valid email"
                                      placeholder="Enter your email address to receive an reset link"
                                      [required]="true"
                                      [tabIndex]="STATE.reset.index"
                                      formControlName="resetEmail"></custom-input>
                    </div>

                    <!--verification code--> <!--remove cursor-->
                    <div style="margin-top: 15px" [@showPassword]="{value: STATE.activePane, params: {top: 300, done:300}}">
                        <code-input
                            [tabIndex]="STATE.code.index"
                            [formControlName]="'resetCode'"
                            (populated)="logEvent($event)">
                        </code-input>
                    </div>


                    <div [@showPassword]="{value: STATE.activePane, params: {top: 120,done:300}}">
                    <!--reset and confirm password -->
                        <custom-input controlType="password"
                                      type="password"
                                      label="New Password"
                                      icon="visibility"
                                      errorMsg="to simple"
                                      placeholder="Enter new password"
                                      [required]="true"
                                      [tabIndex]="STATE.password.index"
                                      formControlName="resetPassword"></custom-input>

                        <custom-input controlType="password"
                                      type="password"
                                      label="Confirm Password"
                                      icon="visibility"
                                      errorMsg="not matching"
                                      placeholder="Confirm password"
                                      [required]="true"
                                      [tabIndex]="STATE.password.index"
                                      formControlName="confirmResetPassword"></custom-input>
                    </div>

                    <div [@showPassword]="{value: STATE.activePane, params: {top: 80,done:180}}">

                        <h2 >Password Changed!</h2>
                        <h4>Your password has been changed successfully.</h4>
                        <mat-icon style="width: 50px;height: 50px;font-size: 50px;color: green;margin-bottom: 8px">done</mat-icon>

                    </div>

                </div>

                <!-- button actions-->
                <div>
                    <!--main action-->
                    <div style="margin: 20px 30px 15px 30px;">
                        <loading-button
                            type="submit"
                            color="primary"
                            (submit)="resetPasswordScreen()"
                            [tabIndex]="STATE.reset.index"
                            [disabled]="STATE.resetForm.invalid || (loading$|async).reset"
                            [loading]="(loading$|async).reset">
                        {{STATE.resetButton}}
                        </loading-button>
                    </div>

                    <!-- switch screen action-->
                    <div style="margin: 5px 30px 10px 30px;">
                        <span>Back to</span>
                        <button mat-button
                                type="button"
                                class="no-hover-effect register"
                                style="margin-left: -5px;"
                                [disableRipple]="true" tabindex="-1"
                                tabIndex="-1"
                                (click)="loginRegisterScreen()">
                            Sign In
                        </button>
                    </div>

                </div>

            </form>

        </div>
    </div>

    <div class="d-flex flex-column">

        <h1  [@hide]="{value: STATE.activePane, params: {delay:900}}" mat-dialog-title class="bold mb-2 d-block ">Welcome</h1>

        <h1 mat-dialog-title class="bold d-block " style="min-height: 32px">{{user?.username?.substr(0, user.username.indexOf('.'))}}</h1>

        <span [@hide]="STATE.activePane" class="material-icons d-block d-flex justify-content-center mt-5" style="font-size: 12rem">account_circle</span>

        <loading-button [@hide]="{value: STATE.activePane, params: {delay:1000}}" class="d-flex justify-content-center mt-auto"
                        tabIndex="-1"
                        (submit)="logOut()"
                        [loading]="STATE.activePane!='logout'"
                        [disabled]="STATE.activePane!='logout'">
            Log Out
        </loading-button>
    </div>

</div>
