
:host {
    display: block;
    overflow: hidden; /* Hide everything that doesn't fit component */
}

.panes {
    height: 100%;
    width: 200%;      /* Make the parent element to take up twice of the component's width */
    display: flex;    /* Align all children in a row */
    div { flex: 1; }  /* Evenly divide width between children */
}

 .bold{
     font-weight: bold;
 }

::ng-deep {
    .mat-dialog-container{
        border-radius: 30px;
        max-width: 340px;
        min-height: 590px;
        max-height: 590px;

        .mat-form-field-appearance-outline .mat-form-field-outline {
            top: 0.6em;
        }

    }


    #smallButton {
        line-height: 12px;
        font-size: 11px;
        padding: 0;
        transition: color 0.5s ease-in;

        .mat-button-focus-overlay {
            background-color: transparent;
        }
    }

    #smallButton:hover {
        color: dodgerblue;
             transition: color 0.5s ease;
    }

    .register {
        padding: 0;
        line-height: 16px;
        background-color: transparent;
        transition: color 0.5s ease-in;

        .mat-button-focus-overlay {
            background-color:transparent;
        }

    }
    .register:hover {
        color: dodgerblue;
        transition: color 0.5s ease;
        }

}
