<!--mega menu here and button inside -->

<main class="d-flex flex-column" style="overflow: hidden">

<header class="d-flex landing">
  <img style="object-fit: cover" class="w-100 h-100" src="assets/images/piano_1.jpg" alt="piano_1"/>
  <img id="logo_recital" class="image_2 border-0" src="assets/logos/recital_logo.png" alt="recital"/>
</header>


<article class="d-flex flex-column justify-content-center">

  <section class="d-flex flex-row flex-wrap flex-wrap-reverse justify-content-center" style="margin-top: 8rem" >

    <div class="d-flex align-items-center p-4" style="line-height: 30px; max-width: 625px;"
         [ngClass]="{'text-right':['XLarge','Large','Medium','Small'].includes(windowSize)}">
    <div class="pr-4">
        <h1>Die Musik ist die Sprache der Leidenschaft</h1>
      {{text_1}}
      </div>
    </div>

    <div class=" d-flex align-items-center" style="width: 625px"
         [ngClass]="{
         'justify_right':['Medium','Small'].includes(windowSize),
         'justify_left':['XLarge','Large','XSmall'].includes(windowSize)}">
    <img class="article_images" src="assets/images/guitar.jpg" alt="img">

    </div>

  </section>

  <section class="d-flex flex-row flex-wrap justify-content-center"  style="margin-top: 12rem;margin-bottom: 8rem">

    <div class="d-flex align-items-center" style="width: 625px;"
         [ngClass]="{
         'justify_right':['Large','XLarge'].includes(windowSize),
         'justify_left':['Medium','Small','XSmall'].includes(windowSize)}"
        >
    <img class="article_images" src="assets/images/sing.jpg" alt="img">
    </div>

    <div class="text-left d-flex align-items-center p-4" style="line-height: 30px; max-width: 625px;">
      <div class="pl-4">
        <h1>Singen ist ein Abglanz der Seele</h1>
        {{text_2}}
      </div>
    </div>
  </section>
</article>


</main>
