.landing {
  background-color: whitesmoke;
  margin-top: 70px;
  height: 80vh;
  flex-grow: 0;
}

.l-height{
  line-height: 1.875rem;
}
.justify_left {
  justify-content: start;
  padding-left: 1.6rem;
}

.justify_right {
  justify-content: flex-end;
  padding-right: 3rem;
}

.justify_center {
  justify-content: center;
}

.article_images {
  height: 250px;
  width: 355px;
  object-fit: cover;
}

.image_2{
  position: absolute;
  top: 20vh;
  left: 30px;
  width: 25vw;

}


/*
*{ // shoe div border
  outline:1px red solid;
}

*/
