<div class="d-flex flex-column" id="logout-dialog">

  <h1 mat-dialog-title [@hide]="{value: this.state.activePaneSubject.value, params: {delay:900}}" class="bold mb-2 d-block">Welcome</h1>

  <h1 mat-dialog-title class="bold d-block" style="min-height: 32px">{{user?.username?.substr(0, user.username.indexOf('.'))}}</h1>

  <span [@hide]="this.state.activePaneSubject.value" class="material-icons d-block d-flex justify-content-center mt-5 mb-4" style="font-size: 12rem">account_circle</span>

  <loading-button class="d-flex justify-content-center mt-auto"
                  [tabIndex]="this.state.logout.index"
                  [@hide]="{value: this.state.activePaneSubject.value, params: {delay:1000}}"
                  (submit)="logOut()"
                  [loading]="this.state.activePaneSubject.value!='logout'"
                  [disabled]="this.state.activePaneSubject.value!='logout'">
    Log Out
  </loading-button>
</div>
